block(tour).mod(view promo) {
  padding-top: 48px;
  padding-bottom: 48px;
  box-sizing: border-box;
  min-height: 400px;

  elem(content) {
    background: rgba(255, 255, 255, 0.6);
    width: 65%;
    margin-left: auto;
    padding: 10px 20px;
    box-sizing: border-box;
  }

  elem(name) {
    font-size: 35px;
    margin-top: 21px;
    margin-bottom: 25px;

    &:hover,
    &:focus {
      color: #25557a;
      text-decoration: underline;
    }
  }

  elem(features) {
    block(list).elem(item):before {
      background-color: #f5d400;
      background-image: svg-load('../../icon/_symbol/icon_symbol_chevron-down.svg', 'fill=#000');
    }
  }

  elem(action) {
    display: flex;
  }

  elem(price) {
    font-size: 48px;
    font-weight: 300;
  }

  elem(cost) {
    margin-right: 14px;
  }

  elem(buy) {
    margin-right: 14px;
  }

}