block(tour).mod(view detail) {
  elem(image) {
    min-width: 100%;
    object-fit: cover;
    height: 400px;
    margin-bottom: -230px;
  }

  elem(main) {
    background-color: #fff;
  }

  elem(name) {
    font-size: 42px;
    padding-top: 14px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }

  elem(section) {
    lost-center: 100%;
    margin-bottom: 20px;

    & + elem(section) {
      margin-top: 20px;
      border-top: 1px solid #ddd;
    }
  }

  elem(content) {
    lost-column: 2/3;
  }

  elem(aside) {
    lost-column: 1/3;
  }

  elem(features) {
    block(list).elem(item):before {
      font-size: .7em;
      top: .6em;
      background-color: #f5d400;
      background-image: none;
    }
  }

  elem(heading) {
    font-size: 23px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    font-weight: 500;
  }

  elem(tickets) {
    margin-bottom: 12px;
  }

  elem(price) {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 6px;

    mod(type on-pier) {
      font-size: 14px;
    }
  }

  elem(sight) {
    margin-bottom: 40px;
  }

  elem(cost) {
    margin-bottom: 40px;
  }
}