block(footer).elem(footer) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 31, 31);
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}