block(button).mod(theme nevatrip) {
  color: #8a7f7f;
  background-color: #edeceb;

  mod(checked) {
    background-color: #eeeef2;
  }

  mod(hovered) {
    background-color: #e8b705;
  }

  mod(focused) {
    color: #312d2d;
    background-color: #c2a800;
  }

  mod(pressed) {
    color: #312d2d;
    background-color: #c2a800;
  }

  mod(view plain) {
    background-color: transparent;

    &.mod(type link) {
      color: #3799ca;

      &.mod(hovered) elem(text) {
        text-decoration: underline;
      }
    }

  }
}
