block(button).mod(theme nevatrip) {
  color: #000;
  background-color: #f5d400;

  mod(checked) {
    background-color: #eeeef2;
  }

  mod(hovered) {
    color: #000;
    background-color: #f3203b;
  }

  mod(focused) {
    color: #222;
    background-color: #dcbe00;
  }

  mod(pressed) {
    color: #000;
    background-color: #ce1b32;
  }
}
