block(button).mod(theme nevatrip) {
  color: #8a7f7f;
  background-color: #edeceb;

  mod(checked) {
    background-color: #eeeef2;
  }

  mod(hovered) {
    color: #000;
    background-color: #f3203b;
  }

  mod(focused) {
    color: #222;
    background-color: #dcbe00;
  }

  mod(pressed) {
    color: #000;
    background-color: #ce1b32;
  }

  mod(view plain) {
    color: #25557a;
    background-color: transparent;

    .mod(hovered) {
      text-decoration: underline;
    }
  }
}
