node_modules/
.DS_Store
.idea
.project
.svn
.zip
*.log

static/assets/font/
static/assets/img/svg/
static/assets/*/*/*.min.*

.enb/tmp/

dist/
docs/
bundles/*/*
!*.bemdecl.js
bundles/*/*.tmpl.bemdecl.js
!.bem/*
.swp
package-lock.json
shrinkwrap.yaml
.env
