block(menu).mod(theme nevatrip) {
  background: #eee;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  elem(group) {
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 1px 0;

    &-title {
      color: #999;
    }
  }

  elem(item).mod(hovered) {
    background-color: #eeeef2;
  }

  mod(view header) {
    background-color: transparent;

    elem(item).mod(hovered) {
      color: #fff;
      background-color: #2c6590;
    }
  }
}
