block(navigation).mod(view header) {
  .elem(list) {
    display: flex;
    justify-content: space-between;
  }

  .elem(item) {
    position: relative;
    display: block;
    flex: 1;
    text-align: center;
    color: #fff;

    & + .elem(item):before {
      background: #d6d2cf;
      content: '';
      width: 1px;
      height: 70%;
      position: absolute;
      top: 15%;
      left: 0;
    }
  }
}