block(list).mod(of tours) {

  & > elem(item) {


    & + elem(item) {
      margin-top: 84px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 50%;
        left: 25%;
        height: 1px;
        top: -42px;
        background-color: #edeceb;
      }
    }
  }
}