block(menu).mod(view header) {
  display: flex;
  justify-content: space-between;

  &:before,
  &:after {
    content: none;
  }

  elem(item) {
    display: block;
    flex: 1;
    text-align: center;
    color: #fff;
    line-height: 1;
    padding: 0;
    box-shadow: 11px 0 0 -10px #000;
  }
}