block(page).elem(heading) {
  margin-top: 21px;
  margin-bottom: 25px;

  .mod(gap top) {
    margin-top: 32px;
  }

  .mod(gap bottom) {
    margin-bottom: 32px;
  }

  .mod(gap both) {
    margin-top: 104px;
    margin-bottom: 40px;
  }
}
