block(page).elem(content) {
  lost-center: 1128px;
  width: 100%;
  position: relative;
  margin-bottom: auto;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;

  /*
  @media (max-width: 1400px) {
    lost-center: 1288px;
  }

  @media (max-width: 1280px) {
    lost-center: 1232px;
  }
  */
}