block(page) {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-width: 960px; /* костыль, пока нет моб. версии */
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
